ol-connect-tuts.json
[
    {
        "id": "7fa855a9.74a30c",
        "type": "tab",
        "label": "Startup",
        "disabled": false,
        "info": ""
    },
    {
        "id": "3de50bd9.3572a4",
        "type": "subflow",
        "name": "Spotify: refresh token",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 80,
                "wires": [
                    {
                        "id": "1cd24155.73c72f"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 600,
                "y": 220,
                "wires": [
                    {
                        "id": "3f20070a.f1bed",
                        "port": 1
                    },
                    {
                        "id": "d05015c8.d2934",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "spotify_obj_path",
                "type": "str",
                "value": "flow.spotify",
                "ui": {
                    "label": {
                        "en-US": "Where is the spotify object located? (local path)"
                    },
                    "type": "input",
                    "opts": {
                        "types": [
                            "str",
                            "num",
                            "bool",
                            "json",
                            "bin",
                            "env"
                        ]
                    }
                }
            }
        ],
        "color": "#DDAA99"
    },
    {
        "id": "9646c685.9f4cc",
        "type": "mqtt-broker",
        "name": "local",
        "broker": "neela.local",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "19a910ab.40cd5f",
        "type": "OL Connect Server",
        "host": "localhost",
        "port": "9340",
        "name": ""
    },
    {
        "id": "91a20da5.975888",
        "type": "file in",
        "z": "7fa855a9.74a30c",
        "name": "Read manifest",
        "filename": "C:\\projects\\project-a\\resources\\manifest.json",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 280,
        "y": 100,
        "wires": [
            [
                "feaeb048.0f57f"
            ]
        ]
    },
    {
        "id": "feaeb048.0f57f",
        "type": "json",
        "z": "7fa855a9.74a30c",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 430,
        "y": 100,
        "wires": [
            [
                "416e6405.153a6c"
            ]
        ]
    },
    {
        "id": "1cd24155.73c72f",
        "type": "function",
        "z": "3de50bd9.3572a4",
        "name": "Needs refresh?",
        "func": "let tokens;\nconst path = env.get('spotify_obj_path');\n\nif (path.startsWith('flow.')) {\n    msg._spotify_store_type = 'flow';\n    const pos = 'flow.'.length;\n    tokens = flow.get('$parent.' + path.slice(pos)).tokens;\n}\nelse if (path.startsWith('global.')) {\n    msg._spotify_store_type = 'global';\n    const pos = 'global.'.length;\n    tokens = global.get(path.slice(pos)).tokens;\n}\nelse {\n    node.error(\"Spotify token storage type unknown. Please prefix with `flow.` or `global.`.\", msg);\n    return null\n}\n\nnow = Date.now();\nif (now - 60000 >= tokens.expires_at) {\n    // Token will expire within in a minute or is already gone. \n    // Refresh now to prevent the following flow part to fail.\n    msg.payload = true;\n    msg._tokens = tokens;\n}\nelse {\n    msg.payload = false;\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 220,
        "y": 80,
        "wires": [
            [
                "3f20070a.f1bed"
            ]
        ]
    },
    {
        "id": "3f20070a.f1bed",
        "type": "switch",
        "z": "3de50bd9.3572a4",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 390,
        "y": 80,
        "wires": [
            [
                "d113569f.677b7"
            ],
            []
        ],
        "outputLabels": [
            "refresh",
            "skip"
        ]
    },
    {
        "id": "d113569f.677b7",
        "type": "change",
        "z": "3de50bd9.3572a4",
        "name": "Prepare request",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "payload.grant_type",
                "pt": "msg",
                "to": "refresh_token",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.refresh_token",
                "pt": "msg",
                "to": "_tokens.refresh_token",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "(\t   $spotifyObj := $$._spotify_store_type = 'flow' ? $flowContext(\t       '$parent.' & $substringAfter(\t           $env('spotify_obj_path'),\t           'flow.'\t       )\t   ) : $$._spotify_store_type = 'global' ? $globalContext(\t       $substringAfter(\t           $env('spotify_obj_path'),\t           'global.'\t       )\t   ) : null;\t   {\t       \"content-type\": \"application/x-www-form-urlencoded\",\t       \"authorization\": \"Basic \" & $base64encode(\t           $spotifyObj.client_id & \":\" & $spotifyObj.client_secret\t       )\t    \t   }\t\t)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 660,
        "y": 40,
        "wires": [
            [
                "df74278c.9825e8"
            ]
        ]
    },
    {
        "id": "df74278c.9825e8",
        "type": "http request",
        "z": "3de50bd9.3572a4",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": false,
        "url": "https://accounts.spotify.com/api/token",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 650,
        "y": 80,
        "wires": [
            [
                "a0a69ccb.48766"
            ]
        ]
    },
    {
        "id": "a0a69ccb.48766",
        "type": "function",
        "z": "3de50bd9.3572a4",
        "name": "Prep for saving",
        "func": "msg.payload.expires_at = msg.payload.expires_in * 1000 + Date.now()\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 660,
        "y": 120,
        "wires": [
            [
                "d05015c8.d2934"
            ]
        ]
    },
    {
        "id": "d05015c8.d2934",
        "type": "function",
        "z": "3de50bd9.3572a4",
        "name": "Save tokens",
        "func": "if (msg._spotify_store_type === 'flow') {\n    let base = flow.get('$parent.' + env.get('spotify_obj_path').slice('flow.'.length));\n    base.tokens.access_token = msg.payload.access_token;\n    base.tokens.expires_at = msg.payload.expires_at;\n    flow.set('$parent.' + env.get('spotify_obj_path').slice('flow.'.length), base);\n}\nelse if (msg._spotify_store_type === 'global') {\n    let base = global.get(env.get('spotify_obj_path').slice('global.'.length));\n    base.tokens.access_token = msg.payload.access_token;\n    base.tokens.expires_at = msg.payload.expires_at;\n    flow.set(env.get('spotify_obj_path').slice('global.'.length), base);\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 650,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "416e6405.153a6c",
        "type": "change",
        "z": "7fa855a9.74a30c",
        "name": "Set globals",
        "rules": [
            {
                "t": "set",
                "p": "email",
                "pt": "global",
                "to": "payload.email",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 100,
        "wires": [
            [
                "1f4a6e44.900342"
            ]
        ]
    },
    {
        "id": "1b455f00.c6a279",
        "type": "change",
        "z": "7fa855a9.74a30c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "email",
                "pt": "msg",
                "to": "email",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "jobEndPoint",
                "pt": "msg",
                "to": "$globalContext('someApi') & '/jobs'",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 280,
        "y": 260,
        "wires": [
            [
                "1b75c767.262bd1",
                "6d20c520.f449cc",
                "adb9128e.6c7028"
            ]
        ]
    },
    {
        "id": "6d20c520.f449cc",
        "type": "debug",
        "z": "7fa855a9.74a30c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "jobEndPoint",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 240,
        "wires": []
    },
    {
        "id": "1b75c767.262bd1",
        "type": "debug",
        "z": "7fa855a9.74a30c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "email",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 280,
        "wires": []
    },
    {
        "id": "1efe14dd.ad3efb",
        "type": "comment",
        "z": "7fa855a9.74a30c",
        "name": "Read a manifest to set globals",
        "info": "",
        "x": 190,
        "y": 60,
        "wires": []
    },
    {
        "id": "7d714b4f.89fe94",
        "type": "comment",
        "z": "7fa855a9.74a30c",
        "name": "Use globals",
        "info": "Shows how to use variables from the global context in the Change and Function nodes.",
        "x": 130,
        "y": 220,
        "wires": []
    },
    {
        "id": "8c675361.a80088",
        "type": "inject",
        "z": "7fa855a9.74a30c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 100,
        "wires": [
            [
                "91a20da5.975888"
            ]
        ]
    },
    {
        "id": "e5fa2f43.f39d7",
        "type": "inject",
        "z": "7fa855a9.74a30c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 260,
        "wires": [
            [
                "1b455f00.c6a279"
            ]
        ]
    },
    {
        "id": "25ac5fae.655d",
        "type": "file in",
        "z": "7fa855a9.74a30c",
        "name": "Read manifest",
        "filename": ".node-red\\projects\\OL-Connect-tuts-for-Node-RED\\solution\\manifest.json",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 300,
        "y": 520,
        "wires": [
            [
                "fa86d43d.664378"
            ]
        ]
    },
    {
        "id": "fa86d43d.664378",
        "type": "json",
        "z": "7fa855a9.74a30c",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 450,
        "y": 520,
        "wires": [
            [
                "7c2d7b2f.a9a564"
            ]
        ]
    },
    {
        "id": "dd6f01ee.805a58",
        "type": "comment",
        "z": "7fa855a9.74a30c",
        "name": "Read the manifest at startup",
        "info": "",
        "x": 180,
        "y": 480,
        "wires": []
    },
    {
        "id": "a9ddc4fb.399368",
        "type": "inject",
        "z": "7fa855a9.74a30c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 520,
        "wires": [
            [
                "25ac5fae.655d"
            ]
        ]
    },
    {
        "id": "d633b77c.ea6ec8",
        "type": "split",
        "z": "7fa855a9.74a30c",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 450,
        "y": 600,
        "wires": [
            [
                "915d4ce9.11cde8"
            ]
        ]
    },
    {
        "id": "7c2d7b2f.a9a564",
        "type": "change",
        "z": "7fa855a9.74a30c",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload.resources",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 250,
        "y": 600,
        "wires": [
            [
                "d633b77c.ea6ec8"
            ]
        ]
    },
    {
        "id": "1f4a6e44.900342",
        "type": "debug",
        "z": "7fa855a9.74a30c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "$globalContext('email')",
        "targetType": "jsonata",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 100,
        "wires": []
    },
    {
        "id": "adb9128e.6c7028",
        "type": "function",
        "z": "7fa855a9.74a30c",
        "name": "",
        "func": "let email = global.get('email');\nmsg.scriptedEmail = email;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 500,
        "y": 340,
        "wires": [
            [
                "f6f4fbc7.71b48"
            ]
        ]
    },
    {
        "id": "f6f4fbc7.71b48",
        "type": "debug",
        "z": "7fa855a9.74a30c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "scriptedEmail",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 340,
        "wires": []
    },
    {
        "id": "915d4ce9.11cde8",
        "type": "change",
        "z": "7fa855a9.74a30c",
        "name": "Construct resource path",
        "rules": [
            {
                "t": "set",
                "p": "resourceFolder",
                "pt": "msg",
                "to": "solution\\resources\\",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "filename",
                "pt": "msg",
                "to": "resourceFolder & payload",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 230,
        "y": 680,
        "wires": [
            [
                "d5b4b291.fc51b8"
            ]
        ]
    },
    {
        "id": "c9fd00fd.4224a8",
        "type": "debug",
        "z": "7fa855a9.74a30c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 680,
        "wires": []
    },
    {
        "id": "d5b4b291.fc51b8",
        "type": "olcnr-file-upload",
        "z": "7fa855a9.74a30c",
        "connect_server": "19a910ab.40cd5f",
        "filename": "",
        "markAsPermanent": true,
        "name": "",
        "x": 430,
        "y": 680,
        "wires": [
            [
                "c9fd00fd.4224a8",
                "ec00f898.5fea38"
            ]
        ]
    },
    {
        "id": "ec00f898.5fea38",
        "type": "debug",
        "z": "7fa855a9.74a30c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "managedFileId",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 720,
        "wires": []
    }
]