ol-connect-tuts.json
[{"id":"7fa855a9.74a30c","type":"tab","label":"Startup","disabled":false,"info":""},{"id":"6d8b614b.797fc","type":"OL Connect Server","z":"","host":"localhost","port":"9340","name":""},{"id":"13b8ede9.7e440a","type":"inject","z":"7fa855a9.74a30c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":60,"wires":[["3732b4a5.3ed254"]]},{"id":"3732b4a5.3ed254","type":"file in","z":"7fa855a9.74a30c","name":"Read manifest","filename":"C:\\Users\\vandenhe\\.node-red\\projects\\OL-Connect-tuts-for-Node-RED\\solution\\manifest.json","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":310,"y":60,"wires":[["7749997a.66545"]]},{"id":"7749997a.66545","type":"json","z":"7fa855a9.74a30c","name":"","property":"payload","action":"","pretty":false,"x":460,"y":60,"wires":[["e8b7fb44.cfeea"]]},{"id":"e8b7fb44.cfeea","type":"change","z":"7fa855a9.74a30c","name":"Set globals","rules":[{"t":"set","p":"email","pt":"global","to":"payload.email","tot":"msg"},{"t":"set","p":"cotgFormsEndPoint","pt":"global","to":"http://localhost:1880/cotg/forms","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":60,"wires":[["e1253523.dc9be8"]]},{"id":"4f8249fd.431c38","type":"debug","z":"7fa855a9.74a30c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":820,"y":140,"wires":[]},{"id":"e1253523.dc9be8","type":"change","z":"7fa855a9.74a30c","name":"Lift resource names","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.resources","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":170,"y":140,"wires":[["c1743ae7.9c354"]]},{"id":"c1743ae7.9c354","type":"split","z":"7fa855a9.74a30c","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":340,"y":140,"wires":[["16d863fc.f5ad84"]]},{"id":"16d863fc.f5ad84","type":"change","z":"7fa855a9.74a30c","name":"Construct path","rules":[{"t":"set","p":"resourcesFolder","pt":"msg","to":"C:\\Users\\vandenhe\\.node-red\\projects\\OL-Connect-tuts-for-Node-RED\\solution\\resources\\","tot":"str"},{"t":"set","p":"filename","pt":"msg","to":"resourcesFolder & payload","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":140,"wires":[["99979f0c.a6e618"]]},{"id":"99979f0c.a6e618","type":"olcnr-file-upload","z":"7fa855a9.74a30c","connect_server":"6d8b614b.797fc","filename":"","markAsPermanent":true,"name":"","x":670,"y":140,"wires":[["4f8249fd.431c38"]]}]